altgraph==0.17
anaconda-navigator==2.1.1
ao3-api==2.2.0
appdirs==1.4.4
argh==0.26.2
arrow==0.13.1
atomicwrites==1.4.0
backports.weakref==1.0.post1
bkcharts==0.2
black==19.10b0
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2021.10.8
click==8.0.3
clyent==1.2.2
comtypes==1.1.10
conda==4.10.3
conda-build==3.21.6
conda-verify==3.4.2
cytoolz==0.11.0
daal4py==2021.4.0
dask==2021.10.0
entrypoints==0.3
et-xmlfile==1.1.0
fastcache==1.1.0
fonttools==4.25.0
future==0.18.2
h5py==2.10.0
heroku==0.1.4
inflection==0.5.1
jupyter==1.0.0
llvmlite==0.34.0
locket==0.2.1
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.3.1
mkl-service==2.4.0
mpmath==1.2.1
multipledispatch==0.6.0
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
nltk==3.6.5
numba==0.51.2
pathspec==0.7.0
patsy==0.5.2
pefile==2019.4.18
pep8==1.7.1
Pillow==8.4.0
pip-chill==1.0.1
pkginfo==1.7.1
ply==3.11
pycosat==0.6.3
pycurl==7.44.1
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pyls-spyder==0.4.0
pyodbc===4.0.0-unsupported
pyreadline==2.1
pytest==6.2.4
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2021.3
pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==6.0
scikit-image==0.18.3
scikit-learn-intelex==2021.20211201.114757
simplegeneric==0.8.1
sip==4.19.13
Sphinx==4.2.0
statsmodels==0.13.0
tables==3.6.1
TBB==0.2
terminado==0.9.4
unicodecsv==0.14.1
urllib3==1.26.7
webencodings==0.5.1
websocket==0.2.1
websocket-client==0.58.0
widgetsnbextension==3.5.1
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
xlwings==0.24.9
xlwt==1.3.0
zict==2.0.0
zope.event==4.5.0
